<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理账目</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <!--图片放大缩小-->
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <script src="js/jquery.fancybox.min.js"></script>
    <!--加载angularjs-->
    <script src="js/angularjs/angular.min.js"></script>
    <!--引入angularjs分页插件-->
    <script src="js/angularjs/pagination.js"></script>
    <!--分页查询样式-->
    <link rel="stylesheet" href="js/angularjs/pagination.css">
    <!--导入模版/控制器/Account.js-->
    <script src="js/account.js"></script>
</head>
<!--ng-app定义模版  ng-controller定义控制器  ng-init初始化调用方法-->
<!--分页插件是自动加载页面,所以这里不用初始化再加载-->
<body ng-app="myapp" ng-controller="accountController">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
                管理账目
            </h3>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addAccount" ng-click="updateClassifyStatus(true)">新增数据</button>
            <button class="btn btn-primary" data-toggle="modal"  ng-click="exportExcel()">导出数据</button>
            <br>
            <br>
                <div class="input-group" >
                    <span class="input-group-addon">类型:</span>
                    <select class="form-control"  ng-model="findAccount.paymentType"  ng-init="findAccount.paymentType='全部'" ng-options="x for x in findPaymentTypeList"></select>
                    <span class="input-group-addon">时间:</span>
                    <select class="form-control"  ng-model="findAccount.deteTime" ng-init="findAccount.deteTime='全部'"  ng-options="x for x in deteTimeList"></select>
                </div><br>
            <div class="input-group" >
                <button  type="button" class="btn btn-default" ng-click="reloadList()">查询</button>
            </div><br>
            <div class="input-group" >
                <button  type="button" class="btn btn-default" disabled="true" style="width: 150px;margin-right: 5px">其他:{{qita}}元</button>
                <button  type="button" class="btn btn-default" disabled="true" style="width: 150px">利润:{{shouru-zhichu}}元</button>
            </div><br>
            <div class="input-group" >
                <button  type="button" class="btn btn-default" disabled="true" style="width: 150px;margin-right: 5px">收入:{{shouru}}元</button>
                <button  type="button" class="btn btn-default" disabled="true" style="width: 150px">支出:{{zhichu}}元</button>
            </div><br>
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>经办人</th>
                    <th>类型</th>
                    <th>价钱</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="pojo in list">
                    <td>{{$index+1}}</td>
                    <td>{{pojo.agent}}</td>
                    <td>{{pojo.paymentType}}</td>
                    <td>{{pojo.money}}</td>
                    <!--调用图片删除方法-->
                    <td>
                        <button data-toggle="modal" data-target="#updateAccount" ng-click="findAccountOne(pojo.id)">查看详情</button>
                    </td>
                </tr>
            </table>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>


<!----------新增账目modal开始---------->
<div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="addAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--ng-click="destroyImage()" 销毁回显图片-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="destroyImage()">&times;</button>
                <h4 class="modal-title" id="addAccountLabel">
                    <span>新增账目</span>
                </h4>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">经办人:</span>
                        <select class="form-control" ng-model="entity.agent" ng-options="x for x in agentList"></select>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">类型:</span>
                        <select class="form-control"  ng-model="entity.paymentType" ng-options="x for x in paymentTypeList"></select>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">图片上传:</span>
                        <input type="file" id="file" class="form-control" onchange="previewImage(this)"/>
                    </div><br>
                    <div class="input-group addClassify" id="imgNameDiv" style="display: none" >
                            <img id="imgName" width="300px" height="250px"style="display:none"/>
                    </div><br id="imgNameBr" style="display: none">
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">备注:</span>
                        <!--文本输入框-->
                        <textarea class="form-control" rows="3" ng-model="entity.remark"></textarea>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">价钱:</span>
                        <input type="text" class="form-control" ng-model="entity.money" placeholder="请输入数字:例如50元,则输入50">
                    </div><br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="entity={}">重置</button>
                <!--ng-click="destroyImage()" 销毁回显图片-->
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="destroyImage()">关闭</button>
                <button class="btn btn-primary" type="button" ng-click="addAccount()">提交</button>
            </div>
        </div>
    </div>
</div>
<!----------新增账目modal结束---------->


<!----------查询账目modal开始---------->
<div class="modal fade" id="updateAccount" tabindex="-1" role="dialog" aria-labelledby="updateAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--ng-click="destroyImage()" 销毁回显图片-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="updateAccountLabel">
                    <span>查询账目详情</span>
                </h4>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <div class="input-group addClassify" >
                    <span class="input-group-addon">经办人:</span>
                    <select class="form-control" ng-model="findEntity.agent" ng-options="x for x in agentList"></select>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">创建时间:</span>
                    <!--readonly 只读-->
                    <input class="form-control"  ng-model="findEntity.createTime" readonly>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">更新时间:</span>
                    <input class="form-control"  ng-model="findEntity.updateTime" readonly>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">类型:</span>
                    <select class="form-control"  ng-model="findEntity.paymentType" ng-options="x for x in paymentTypeList"></select>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">图片:</span>
                    <!--图片放大缩小-->
                    <a data-fancybox="gallery" href="{{findEntity.imgUrl}}"><img src="{{findEntity.imgUrl}}" width="250px" height="250px"></a>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">备注:</span>
                    <textarea class="form-control" rows="3" ng-model="findEntity.remark"></textarea>
                </div><br>
                <div class="input-group addClassify" >
                    <span class="input-group-addon">价钱:</span>
                    <input type="text" class="form-control" ng-model="findEntity.money">
                </div><br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button"  data-dismiss="modal">关闭</button>
                <button class="btn btn-primary" type="button" ng-click="deleteAccount(findEntity.id)">删除</button>
                <button class="btn btn-primary" type="button" ng-click="updateAccount(findEntity.id)">修改</button>
            </div>
        </div>
    </div>
</div>
<!----------查询账目modal结束---------->


</body>
</html>