<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>通讯录</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <!--加载angularjs-->
    <script src="js/angularjs/angular.min.js"></script>
    <!--引入angularjs分页插件-->
    <script src="js/angularjs/pagination.js"></script>
    <!--分页查询样式-->
    <link rel="stylesheet" href="js/angularjs/pagination.css">
    <!--导入模版/控制器/Account.js-->
    <script src="js/account.js"></script>
</head>
<!--ng-app定义模版  ng-controller定义控制器  ng-init初始化调用方法-->
<!--分页插件是自动加载页面,所以这里不用初始化再加载-->
<body ng-app="myapp" ng-controller="FriendController" ng-init="selectUserClassifyList()">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
                管理账目
            </h3>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addFriend" ng-click="updateClassifyStatus(true)">新增收入支出</button>
            <button class="btn btn-primary" data-toggle="modal"  ng-click="exportExcel()">导出数据</button>
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>经办人</th>
                    <th>时间</th>
                    <th>类型</th>
                    <th style="display:none;">图片</th>
                    <th>备注</th>
                    <th>价钱</th>
                    <th></th>
                </tr>
                <tr ng-repeat="pojo in list">
                    <td>{{$index+1}}</td>
                    <td>{{pojo.agent}}</td>
                    <td>{{pojo.currentTine}}</td>
                    <td>{{pojo.paymentType}}</td>
                    <td style="display:none;">{{pojo.imgUrl}}</td>
                    <td>{{pojo.remark}}</td>
                    <td>{{pojo.money}}</td>
                    <!--调用图片删除方法-->
                    <td>
                        <button ng-click="deleteFriend(pojo.id)">删除</button>
                        <button data-toggle="modal" data-target="#addFriend" ng-click="updateClassifyStatus(false)">修改</button>
                    </td>
                </tr>
            </table>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>



<!----------新增账目modal开始---------->
<div class="modal fade" id="addFriend" tabindex="-1" role="dialog" aria-labelledby="addFriendLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addFriendLabel">
                    <span ng-if="calssifyStatus">新增账目</span>
                    <span ng-if="!calssifyStatus">修改账目</span>
                </h4>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">经办人:</span>
                        <select class="form-control" ng-model="entity.agent" ng-options="x for x in agentList"></select>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">时间:</span>
                        <select class="form-control" ng-model="entity.classifyId" ng-options="x.id as x.classifyName for x in ClassifyList"></select></li>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">类型:</span>
                        <select class="form-control"  ng-model="entity.paymentType" ng-options="x for x in paymentTypeList"></select>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">图片:</span>
                        <select class="form-control"  ng-model="entity.relation"></select>
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">备注:</span>
                        <input type="text" class="form-control" ng-model="entity.phone">
                    </div><br>
                    <div class="input-group addClassify" >
                        <span class="input-group-addon">价钱:</span>
                        <input type="text" class="form-control" ng-model="entity.wechat">
                    </div><br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="entity={}">重置</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-primary" type="button" ng-click="addFriend()">提交</button>
            </div>
        </div>
    </div>
</div>
<!----------新增账目modal结束---------->

</body>
</html>