<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="elema.zengluo.mapper.AccountMapper">


    <insert id="addAccount">
        INSERT INTO
            account
        (createTime,currentTine,agent,paymentType,imgUrl,money)
        values
        (#{createTime},#{currentTine},#{agent},#{paymentType},#{imgUrl},#{money})
    </insert>


    <update id="updateAccount">
        UPDATE
             account
        SET
            updateTime = #{updateTime},
            agent = #{agent},
            paymentType = #{paymentType},
            imgUrl = #{imgUrl},
            money = #{money}
        WHERE
            id = #{id}
    </update>

    <update id="deleteAccount">
          UPDATE
              account
          SET
              valid = 0
          WHERE
              id = #{id}
    </update>

    <select id="findAccountAll" resultType="elema.zengluo.pojo.Account">
        SELECT
            id,
            currentTine,
            agent,
            paymentType,
            imgUrl,
            remark,
            money,
            valid
        FROM
            account
        WHERE
            valid = #{valid}
            AND
            paymentType = #{paymentType}
            AND
            agent = #{agent}
    </select>

    <select id="findAccountOne" resultType="elema.zengluo.pojo.Account">
        SELECT
            id,
            currentTine,
            agent,
            paymentType,
            imgUrl,
            remark,
            money,
            valid
        FROM
            account
        WHERE
            id = #{id}
    </select>

</mapper>