<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="elema.zengluo.mapper.AccountMapper">


    <insert id="addAccount">
        INSERT INTO
            account
        (createTime,agent,paymentType,imgUrl,remark,money)
        values
        (#{createTime},#{agent},#{paymentType},#{imgUrl},#{remark},#{money})
    </insert>

    <!--大于或者等于当前时间: createTime > DATE_SUB(CURDATE(),INTERVAL 0 DAY) 才可以进行修改-->
    <update id="updateAccount">
        UPDATE
             account
        SET
            updateTime = #{updateTime},
            agent = #{agent},
            paymentType = #{paymentType},
            remark = #{remark},
            money = #{money}
        WHERE
            id = #{id}
            AND
            createTime > DATE_SUB(CURDATE(),INTERVAL 0 DAY)
    </update>

    <!--大于或者等于当前时间: createTime > DATE_SUB(CURDATE(),INTERVAL 0 DAY) 才可以进行删除-->
    <delete id="deleteAccount">
          DELETE
          FROM
              account
          WHERE
              id = #{id}
              AND
              createTime > DATE_SUB(CURDATE(),INTERVAL 0 DAY)
    </delete>

    <select id="findAccountAll" resultType="elema.zengluo.pojo.Account">
        SELECT
            id,
            agent,
            createTime,
            paymentType,
            imgUrl,
            remark,
            money
        FROM
            account
        WHERE
           valid=1
           <if test="paymentType!=null">
               AND paymentType = #{paymentType}
           </if>
           <if test="deteTime0!=null">
               AND createTime &gt; DATE_SUB(CURDATE(),INTERVAL 0 DAY)
           </if>
            <if test="deteTime1!=null">
                AND createTime &lt; DATE_SUB(CURDATE(),INTERVAL 0 DAY)
                AND createTime &gt; DATE_SUB(CURDATE(),INTERVAL 1 DAY)
            </if>
            <if test="deteTime2!=null">
                AND YEARWEEK(DATE_FORMAT(createTime,'%Y-%m-%d')) = YEARWEEK(NOW())
            </if>
            <if test="deteTime3!=null">
                AND DATE_FORMAT(createTime,'%Y-%m')=DATE_FORMAT(NOW(),'%Y-%m')
            </if>
    </select>

    <select id="findAccountOne" resultType="elema.zengluo.pojo.Account">
        SELECT
            id,
            createTime,
            updateTime,
            agent,
            paymentType,
            imgUrl,
            remark,
            money,
            valid
        FROM
            account
        WHERE
            id = #{id}
    </select>

    <select id="findAccountImgUrl" resultType="java.lang.String">
        SELECT
             imgUrl
        FROM
             account
         WHERE
             id = #{id}
    </select>

</mapper>